/* CTA */
.cta {
  padding: 10px 20px;
  border-radius: 12px;
  border: 1px solid #22c55e;
  color: var(--color-white);
  background: transparent;
  background: var(--color-bg-main);
  transition: 0.3s;
  font-weight: 700;
  font-family: var(--font-heading);
}

.cta:hover {
  background: var(--color-primary);
  color: black;
}

